
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kanit';
  font-size: 1.4rem;
  font-weight: 800;
  user-select: none;
}

body {
  min-height: 50vh;
  padding-top: 50px;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: center;
}

.counter {
  width: 400px;
  height: 100px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background: lightpink;
  border-radius: 10px;
  color: white;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
  width: 80px;
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.btn {
  width: 100px;
  height: 50px;
  color: deeppink;
  background-color: transparent;
  border: 3px solid deeppink;
  border-radius: 30px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  transition: 0.3s;
  color: white;
  background-color: deeppink;
}